.head-line{
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.web-input-area {
  margin-top: 15px;
}

.head-line svg{
  width: 430px;
  margin-bottom: 15px;
}

.menu {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double black;
}


.menu button {
  border: none;
  background: none;
  margin: 5px;
}

.menu button:hover {
  background-color: beige;
  border-radius: 3px;
}

.news-img-size {
  max-width: 100%;
  max-height: 250px;
}

.news {
  border-bottom: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}


.search-button {
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 20%;
  background-color: rgb(140, 192, 194);
}

.search-button:active {
  background-color: blue;
}

.fa-bars {
  padding: 10px;
}

.fa-search {
  margin-right: 20px;
}

#input-area {
  position: relative;
  right: 15px;
}

.menu button {
  border: none;
  background: none;
  margin: 5px;
  width: 120px;
}

.side-Nav .close-btn {
  position: absolute;
  border: none;
  background: none;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sub-var {
  /* display: flex; */
  justify-content: space-between;
  margin-top: 5px;
  display: none;
}

@media screen and (max-width:48rem) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .side-Nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: burlywood;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .web-input-area {
    display: none;
  }

  .sub-var {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    /* display: none; */
  }
}